APP_NAME="Larament"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

DEFAULT_USER_NAME=Admin
DEFAULT_USER_EMAIL=admin@example.com
DEFAULT_USER_PASSWORD=password

DEBUGBAR_ENABLED=true

MAIL_IT_ADDRESS=""

IMAP_INDICATEUR_VILLE_HOST=""
IMAP_INDICATEUR_VILLE_EMAIL=""
IMAP_INDICATEUR_VILLE_USER=""
IMAP_INDICATEUR_VILLE_PWD=""

PST_MEILI_INDEX_NAME="pst"
PST_VALIDATOR_EMAIL="jf@marche.be"

ANTHROPIC_KEY=""

MEILI_MASTER_KEY="HEvwGBvOJJz0fNAF3e370O_inCk0LYSLUgitrIOPh-8"
PDF_NODE_MODULES_PATH="/var/www/puppeteer/node_modules"
PDF_CHROME_PATH="/usr/bin/chromium"
LARAVEL_PDF_DRIVER=chrome
#LARAVEL_PDF_CHROME_BINARY=/usr/bin/google-chrome-stable

# Document Module Database
DB_DOCUMENT_HOST=127.0.0.1
DB_DOCUMENT_PORT=3306
DB_DOCUMENT_DATABASE=document
DB_DOCUMENT_USERNAME=
DB_DOCUMENT_PASSWORD=

# News Module Database
DB_NEWS_HOST=127.0.0.1
DB_NEWS_PORT=3306
DB_NEWS_DATABASE=actu
DB_NEWS_USERNAME=
DB_NEWS_PASSWORD=

# MailingList Module Database
DB_MAILINGLIST_HOST=127.0.0.1
DB_MAILINGLIST_PORT=3306
DB_MAILINGLIST_DATABASE=mailinglist
DB_MAILINGLIST_USERNAME=
DB_MAILINGLIST_PASSWORD=

# MailingList Module Database
DB_PST_HOST=127.0.0.1
DB_PST_PORT=3306
DB_PST_DATABASE=pst
DB_PST_USERNAME=
DB_PST_PASSWORD=

# Publication Module Database
DB_PUBLICATION_HOST=127.0.0.1
DB_PUBLICATION_PORT=3306
DB_PUBLICATION_DATABASE=publication
DB_PUBLICATION_USERNAME=
DB_PUBLICATION_PASSWORD=

# Publication Module Database
DB_MILEAGE_HOST=127.0.0.1
DB_MILEAGE_PORT=3306
DB_MILEAGE_DATABASE=finance
DB_MILEAGE_USERNAME=
DB_MILEAGE_PASSWORD=

# Grh Module Database
DB_HRM_HOST=127.0.0.1
DB_HRM_PORT=3306
DB_HRM_DATABASE=grh_all
DB_HRM_USERNAME=
DB_HRM_PASSWORD=

# Indicateur Module Database
DB_COURRIER_HOST=127.0.0.1
DB_COURRIER_PORT=3306
DB_COURRIER_DATABASE=indicateur_ville
DB_COURRIER_USERNAME=
DB_COURRIER_PASSWORD=

# Indicateur Module Database
DB_AGENT_HOST=127.0.0.1
DB_AGENT_PORT=3306
DB_AGENT_DATABASE=agent
DB_AGENT_USERNAME=
DB_AGENT_PASSWORD=

# Indicateur Module Database
DB_AD_HOST=127.0.0.1
DB_AD_PORT=3306
DB_AD_DATABASE=actu
DB_AD_USERNAME=
DB_AD_PASSWORD=

DB_ALDERMEN_AGENDA_HOST=127.0.0.1
DB_ALDERMEN_AGENDA_PORT=3306
DB_ALDERMEN_AGENDA_DATABASE=invitation
DB_ALDERMEN_AGENDA_USERNAME=
DB_ALDERMEN_AGENDA_PASSWORD=

DB_MEDIATION_HOST=127.0.0.1
DB_MEDIATION_PORT=3306
DB_MEDIATION_DATABASE=mediation
DB_MEDIATION_USERNAME=
DB_MEDIATION_PASSWORD=

DB_OFFENSES_HOST=127.0.0.1
DB_OFFENSES_PORT=3306
DB_OFFENSES_DATABASE=sanction
DB_OFFENSES_USERNAME=
DB_OFFENSES_PASSWORD=

DB_MEAL_DELIVERY_HOST=127.0.0.1
DB_MEAL_DELIVERY_PORT=3306
DB_MEAL_DELIVERY_DATABASE=cpas_repas
DB_MEAL_DELIVERY_USERNAME=
DB_MEAL_DELIVERY_PASSWORD=
