@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../modules/**/resources/views/**/*';

.fi-sidebar-nav {
    border-right: 1px solid #e4e4e5;
}

.dark .fi-sidebar-nav {
    border-right: 1px solid  #18181B;
}
